* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.container {
    /* background: linear-gradient(to left, purple, orange, yellow); */
    background-color: whitesmoke;
    /* background: linear-gradient(to right, rgb(37, 37, 37), rgb(141, 136, 136), white); */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    height: 40rem;
    width: 26.1rem;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 12px 12px 22px rgba(0, 0, 0, 0.877);

}

img {
    padding-top: .1rem;
    width: 26rem;
    height: 16.5rem;
}

.low {
    /* border: 2px solid blue ; */
    width: 23rem;
    height: 21.5rem;
    padding-top: .7rem;
}

.m-y {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;

    padding-top: 10px;
    padding-bottom: 1rem;

    /* border: 2px solid red; */
}

h1 {
    font-size: 28px;
    letter-spacing: 0.5px;
}

.yr {
    font-size: 25px;
}

.dy-flex {
    /* border: 2px solid purple; */
    height: 2rem;
    width: 23rem;

    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.185);
}

.dy {
    font-size: 20px ;
    font-weight: 600;
}

.dt-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1.6rem;
    row-gap: 0.7rem;

    padding-left: 1rem;
    padding-top: 1rem;

    font-weight: 600;
}

.dt-1 {
    grid-column: 1/6;
}

#dtR, #dyR {
    color: red;
}


/* RESPONSIVE */

@media  (max-width:700px) {

    .card {
        height: 30rem;
        width: 19.1rem;
    }

    img {
        width: 19rem;
        height: 13rem;
    }

    .low {
        /* border: 2px solid blue ; */
        width: 18rem;
        height: 15rem;
        padding-top: .7rem;
    }

    .m-y {
        gap: 3.8rem;
    
        padding-top: 1px;
        padding-bottom: 16px;
    
        /* border: 2px solid red; */
    }

    h1 {
        font-size: 20px;
        letter-spacing: 0.6px;
    }
    
    .yr {
        font-size: 17px;
    }

    .dy-flex {
        /* border: 2px solid purple; */
        height: 2rem;
        width: 18rem;
        padding-bottom: 1px;
    }
    
    .dy {
        font-size: 14px ;
        font-weight: 600;
    }

    .dt-grid {
        column-gap: 1rem;
        row-gap: 0.4rem;
    
        padding-left: 0.9rem;
        padding-top: 15px;
    
        font-weight: 600;
        font-size: 12px;
    }
    



    
}